<h3 class="title" >  List Render </h3> 
<div class="view">
    <div class="view2"> 
        <h3>Cursos:</h3>
    <div class="ListTeste">
        
        <ul>
            
            <li *ngFor="let tecnologia of tecnologia" style="margin-bottom:8px"> 
                    <button (click)="mostrarTipo(tecnologia)" class="botaoCurso">
                        {{tecnologia.nome}}
                    </button><div class="espa"> <button (click)="removerCurso(tecnologia)">Remover</button></div>
                   
                    
            </li>
        
        </ul>
        <h4>{{showTipo}}</h4>
    </div>
    
   
        
    </div>
    
</div>
    