h2{
    margin: 0px;
    margin-bottom: 0px;
}

p{
    margin-top: 8px;
    width: 96%;
    text-align: initial;

}


.title{
    background-color: firebrick;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0px;
    border-radius: 4px;

}

.dados{
    margin: 0px;
    padding: 0px;
    align-items: center;
    font-size: 16px;
    text-align: justify;
    display: flex;
    flex-direction:column ;
    width: 95%;
}