<div class="menu">
    <nav>
        <a routerLink="/">Home</a>
        <a routerLink="diretivas">Diretivas </a> <!-- diretivas -->
        <a routerLink="/list"> List Render</a> <!-- listrender -->
        <a routerLink="emmiter"> Emitter    </a> 
        <a routerLink="ifrender">If Render</a>
        <a routerLink="eventos"> Eventos</a>
        <a routerLink="pipe"> Pipes</a>
        <a routerLink="rhttp"> HTTP</a>
        <a routerLink="twoway"> two way data binding </a>
       

    </nav>
 </div>