<h3 class="title" > Diretivas</h3> 
<div class="geral">
    

        <h2 [ngStyle]="{'font-size': size + 'px','font-family':font,'color':color,'background-color': background}" >
            Testando diretiva de estilo / style
        </h2>
        
        <h2 [ngClass]="testandoClasses"> Testando diretiva de classes 1 </h2>
        <h2 [ngClass]="testandoClasses"> Testando diretiva de classes 2 </h2>
        <h3 [ngClass]="underline"> Tesando diretiva de classes com underline</h3>
        
    
</div>