.body{
    display: flex;
    flex-direction: row;
}
.divLadoA{
    width: 27%;
    display: flex;
    
}

.divLadoB{
    width: 100%;
    margin-left: 7%;
    
}

.estilo{
   /* [ngClass]="estilop1"*/
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.textoLateralEsquerda{
    margin: 0px;
    padding: 0px;
    align-items: center;
    font-size: 16px;
    text-align: justify;
    display: flex;
    flex-direction:column ;
    width: 95%;
}


@media (max-width:900px){
    .divLadoB{
        margin-left: 0%;     
    }
}