.geral{
display: flex;
flex-direction: row;
align-items: center;
width: 64%;
background-color: gainsboro;
height: 240px;
border-radius: 0px 0px 8px 8px;
}

#fotoPerfil{
    margin-left: 10%;
    width: 120px;
    height: 160px;
    border-radius: 10%;
    margin-top: 16px;
    border-style: outset;
    border-color: revert;
}