<h3 class="title" >  Carta de Apresentação </h3> 
<div class="geral" >
    
    <img id="fotoPerfil" src="assets\leandroArraes.jpg">
    
    
    <div Class="dados" >
        
        <p class="p-LateralEsquerda" >
             <b> Nome:        </b>  {{ nome   }}          <br>
             <b> Idade:       </b>  {{ idade  }}          <br>
             <b> Estado civil </b>  {{ eCivil }}          <br>
             <b> Filhos:      </b>  {{ filhos }}          <br>         
             <b> Bairro:      </b>  {{ endereco.bairro }} <br>
             <b> Rua:         </b>  {{ endereco.rua }}    <br>
             <b> Cidade:      </b>  {{ endereco.cidade }}
        </p>
    </div></div>



