<!-- dentro da tag form é preciso chamar uma função
 >> também é preciso declarar um grupo de formulários para o angular conseguir mapear os inputs
    então disparar as validações
    >> [formGroup]="momentForm"
 -->

 <!-- (ngSubmit)="submit()" Envia dos dados para a validação, não envia caso estaja algo errado -->
 <!-- #formDir="ngForm" dispara os inputs -->
<form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
    <div class="form-group">
        <label for="Title">Título:</label>
        <input
        type="text"
        placeholder="Coloque um título"
        formControlName="title"
        required />

        <!-- na prixima div a condição é quando o title for valido e o formDir for desparado na div anterior  -->
        <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="title.errors?.['required']"> O titulo é obrigatorio.</p>
        </div>
    </div>


    

    <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea placeholder="O que aconteceu lá ?!" formControlName="description" required></textarea>
        <div *ngIf="description.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="description.errors?.['required']"> A descrição é obrigatorio.</p>
        </div>
    </div>

    <div class="form-group">
        <label for="image">Coloque sua melhor foto:</label>
        <input type="file">
    </div>
    <input type="submit" value="{{ btnText }}">

</form>
