
.fotoPerfil{
    margin-left: 10%;
    width: 120px;
    height: 160px;
    border-radius: 10%;
    margin-top: 16px;
    border-style: outset;
    border-color: revert;
}

@media (max-width:900px){

    .fotoPerfil{width: 100px;
    height: auto;
    margin-left: 0%;}
    p{
        text-align: center;
        font-size: 12px;
        
    }
    
   
    
      }